.table-2 { 
  width: 1000px;
  height: 400px;
  border-radius: 300px;
  padding: 10px;
  margin: auto;
  border-color: black;
  border-style: groove;
  border-width: 10px;
  border: round 50px;
  background-color: pink;
  background: linear-gradient(pink, rgb(110, 7, 88));
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.btn-cutoff, .btn-bigblind ,.btn-dealer, .btn-smallblind,.btn-underthegun,.btn-middleposition{
  width: 100px;
  height: 100px;
  background-color: rgb(212, 15, 170);
  padding: 10px;

  border-radius: 50%;
  border-style: dotted;
  border-color: pink;
  margin: auto;

  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: pink;
}

body, html {
  margin: 0;
}

#root {
  background: linear-gradient(pink, rgb(110, 7, 88));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-gumbi {
  border-color: black;
  margin: 20px;
  border-style:outset;  
}

.header-gumbi {
    text-align:center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}
.gumbi {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.gumb {
    background-color: rgb(212, 15, 170);
    padding: 10px;
  
    border-style: dotted;
    border-color: pink; 
  
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.table {
  width: 1000px;
  height: 400px;
  border-radius: 300px;
  padding: 10px;
  margin: auto;
  border-color: black;
  border-style: groove;
  border-width: 10px;
  border: round 50px;
  background-color: pink;
  background: linear-gradient(pink, rgb(110, 7, 88));
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

